@import "base";
body {
    background: #f2f2f2;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    .header-ul {
        width: 100%;
        height: 49px;
        font-size: 1.4rem;
        position: relative;
        border-bottom: 1px solid #ccc;
        .header-li{
            float: left;
            padding: 5px 0;
            width: 23%;
            text-align: center;
            p {
                text-align: center;
                font-size: 1.4rem;
                color: #999;
                line-height: 20px;
            }
        }
        a{
            float: left;
            width: 4%;
            margin-left: 4%;
            line-height: 49px;
        }
        .header-li.h{
            p{
                color: #00aaee;
            }
        }
    }
}
.center-two {
    overflow: hidden;
    margin-top: 70px;
    width: 96%;
    padding: 0 2%;
    background: #fff;
    .center-two-bottom {
        overflow: hidden;
        padding: 10px 4%;
        border-bottom: 1px solid #ccc;
        p {
            margin: 10px auto;
            color: #333;
            font-size: 1.3rem;
            span {
                color: #999;
            }
            i {
                margin-left: 3%;
                color: #666;
            }
            em{
                margin-left: 2px;
                color: #ff9700;
            }
            span:last-of-type {
                float: right;
            }
        }
        .center-two-bottom-man {
            margin-top: 10px;
            .person {
                float: left;
                overflow: hidden;
                width: 36px;
                height: 36px;
                @include br4(50%);
                img {
                    width: 36px;
                    height: 36px;
                }
            }
            p {
                float: left;
                width: calc(100% - 36px);
            }
        }
    }
}
