@import "base";
body {
    background: #f2f2f2;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    .header-top{
        overflow: hidden;
        width: 100%;
        border-bottom: 1px solid #ccc;
        i{
            display: inline-block;
            width: 15%;
            margin: 0 2%;
            color: #666;
            text-align: center;
            line-height: 34px;
            font-size: 1.4rem;
        }
        i.h{
            border-bottom: 1px solid #00aaee;
            color: #00aaee;
            
        }
    }
}

.hunt {
    margin: 35px 0 55px 0;
    width: 100%;
    .hunt-aspect {
        overflow: hidden;
        width: 100%;
        height: auto;
        .hunt-aspect-side {
            margin-top: 20px;
            line-height: 28px;
            font-size: 1.3rem;
            background: #ffffff;
            .hunt-aspect-side-top{
                padding: 10px 4%;
                border-bottom: 1px solid #ccc;
                p{

                    line-height: 24px;
                    color: #999;
                    font-size: 1.3rem;
                    i{
                        float: right;
                        color: #ff0000;
                        font-size: 1.3rem;
                    }
                    a{
                        color: #333;
                        font-size: 1.3rem;
                    }
                    em{
                        float: right;
                        margin-left:5%;
                        font-size: 1.3rem;
                        span{
                            color: #333;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            .hunt-aspect-side-bottom{
                padding: 10px 4%;
                text-align: right;
                a{
                    margin: 0 2%;
                    padding: 0 2%;
                    color: #00aaee;
                    border: 1px solid #00aaee;
                    line-height: 23px;
                    @include br4(2px);
                }
            }
        }
    }
}
.null{
    display: none;
    width: 100%;
    position: absolute;
    top: 16%;
    left: 0;
    p{
        margin: 0 auto;
        text-align: center;
        font-size:6rem;
        color: #ccc;
    }
    p:last-of-type{
        font-size: 1.4rem;
    }
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 55px;
    background: #fff;
    box-shadow: 0px 0px 30px #ccc;
    .footer-center { 
        padding: 0 4%;
        width: 92%;
        background: #fff;
        .footer-part {
            float: left;
            overflow: hidden;
            width: calc(100% / 3);
            height: 100px;
            a {
                color: #999;
                .footer-part-top {
                    width: 100%;
                    font-size: 2.4rem;
                    line-height: 35px;
                    text-align: center;
                }
                p {
                    text-align: center;
                    font-size: 1.3rem;
                }
            }
        }
        
        .footer-part:nth-child(3) {
            a {
                color: #00aaee;
                .footer-part-top {
                    font-size: 3rem;
                }
            }
        }
    }
}