@import "base";
body {
    background: #f2f2f2;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background: #ffffff;
    .header-center {
        width: 100%;
        height: 50px;
        font-size: 1.4rem;
        position: relative;
        img {
            position: absolute;
            top: 10px;
            left: 50%;
            margin-left: -45px;
            width: 90px;
        }
        .region {
            float: left;
            margin-left: 4%;
            line-height: 50px;
            color: #666;
            font-size: 1.4rem;
        }
        p{
            float: right;
            margin-right: 4%;
            font-size: 2rem;
            color: #666;
                line-height: 50px;
        }
    }
    .search {
        position: absolute;
        top: 0px;
        left: 100%;
            z-index: 2;
        width: 100%;
        height: 50px;
        background: #fff;
        .search-seek {
            margin-top: 10px;
            float: left;
            width: 100%;
            height: 30px;
            @include br4(4px);
            .search-back {
                float: left;
                margin: 0 4%;
                width: 5%;
                line-height: 30px;
                font-weight: bold;
                color: #999;
                font-size: 1.4rem;
            }
            .search-seek-input {
                float: left;
                padding: 0 2%;
                width: 60%;
                font-size: 1.3rem;
                color: #aaaaaa;
                line-height: 30px;
                border: 1px solid #ccc;
                @include br4(3px);
            }
            .search-seek-input::-webkit-input-placeholder {
                color: #aaaaaa;
            }
            .search-hunt {
                float: right;
                margin-right: 4%;
                padding: 0 3%;
                font-size: 1.3rem;
                color: #00aaee;
                line-height: 28px;
                border: 1px solid #00aaee;
                @include br4(3px);
                &:active {
                    color: #fff;
                    background: #00aaee;
                }
            }
        }
    }

}

.city {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    background: #f5f5f5;
    .content-block {
        margin: 10px 4%;
        width: 92%;
        border: 1px solid #ccc;
        background: #fff;
        overflow: hidden;
        span, i {
            float: left;
            margin-left: 4%;
            font-size: 1.6rem;
            color: #999;
            line-height: 30px;
        }
        input {
            float: left;
            width: 70%;
            line-height: 20px;
            font-size: 1.3rem;
            padding: 5px;
        }
        i {
            float: right;
            margin-right: 4%;
            transform: rotateZ(0deg);
            transition: .5s all linear;
        }
    }
    .content-block-bottom {
        border-top: 1px solid #ccc;
        padding: 0 4%;
        width: 92%;
        height: calc(100% - 50px);
        h4 {
            line-height: 50px;
            color: #999;
            font-size: 1.3rem;
        }
        p {
            width: calc(92% / 3 - 2px);
            height: 30px;
            border: 1px solid #ccc;
            text-align: center;
            margin-right: 4%;
            margin-bottom: 10px;
            line-height: 30px;
            background: #fff;
            font-size: 1.3rem;
        }
        ul {
            li {
                float: left;
                width: calc(92% / 3 - 2px);
                height: 30px;
                border: 1px solid #ccc;
                text-align: center;
                margin-right: 4%;
                margin-bottom: 10px;
                line-height: 30px;
                background: #fff;
                font-size: 1.3rem;
            }
            li:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}
.seek {
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 4;
    width: 100%;
    height: calc(100% - 40px);
    background: #ffffff;
    border-top: 1px solid #ccc;
    .seek-history {
        margin-top: 10px;
        padding-bottom: 5px;
        text-indent: 1.3rem;
        width: 100%;
        color: #aaaaaa;
        font-size: 1.3rem;
        border-bottom: 1px solid #ccc;
    }
    .seek-aspect {
        overflow: hidden;
        width: 92%;
        height: auto;
        padding: 10px 4%;
        .seek-aspect-side {
            float: left;
            margin: 0 8px 10px 0;
            padding: 0 2%;
            border: 1px solid #ccc;
            @include br4(4px);
            line-height: 28px;
            font-size: 1.3rem;
            color: #494949;
        }
    }
}
.hunt {
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 5;
    width: 100%;
    height: calc(100% - 40px);
    background: #ffffff;
    border-top: 1px solid #ccc;
    .hunt-aspect {
        overflow: hidden;
        width: 100%;
        height: auto;
        .hunt-aspect-side {
            padding: 10px 4%;
            border-bottom: 1px solid #ccc;
            line-height: 28px;
            font-size: 1.3rem;
            p{
                        
                line-height: 24px;
                color: #999;
                font-size: 1.3rem;
                i{
                    float: right;
                    color: #ff0000;
                    font-size: 1.6rem;
                }
                a{
                    color: #333;
                    font-size: 1.6rem;
                }
            }
        }
        .hunt-aspect-side:last-of-type{
            border-bottom: none;
        }
    }
}
.ppt {
    margin-top: 50px;
    width: 100%;
    img {
        width: 100%;
    }
}

.center {
    margin-top: 20px;
    padding: 0 4%;
    width: 92%;
    height: 200px;
    background: #fff;
    .center-part {
        float: left;
        overflow: hidden;
        width: 25%;
        height: 100px;
        .center-part-top {
            margin: 10px auto;
            width: 48px;
            height: 48px;
            background: url("../images/icon-21.png")no-repeat;
            background-size: 100% 100%;
            @include br4(50%);
        }
        p {
            text-align: center;
            color: #666;
            font-size: 1.3rem;
        }
    }
    .center-part:nth-child(2) {
        .center-part-top {
            background: url("../images/icon-19.png")no-repeat;
            background-size: 100% 100%;
        }
    }
    .center-part:nth-child(3) {
        .center-part-top {
            background: url("../images/icon-20.png")no-repeat;
            background-size: 100% 100%;
        }
    }
    .center-part:nth-child(4) {
        .center-part-top {
            background: url("../images/icon-25.png")no-repeat;
            background-size: 100% 100%;
        }
    }
    .center-part:nth-child(5) {
        .center-part-top {
            background: url("../images/icon-24.png")no-repeat;
            background-size: 100% 100%;
        }
    }
    .center-part:nth-child(6) {
        .center-part-top {
            background: url("../images/icon-22.png")no-repeat;
            background-size: 100% 100%;
        }
    }
    .center-part:nth-child(7) {
        .center-part-top {
            background: url("../images/icon-26.png")no-repeat;
            background-size: 100% 100%;
        }
    }
    .center-part:nth-child(8) {
        .center-part-top {
            background: url("../images/icon-23.png")no-repeat;
            background-size: 100% 100%;
        }
    }
}

.subject {
    margin-top: 20px;
    padding: 0 4%;
    width: 92%;
    height: 50px;
    background: #fff;
    font-size: 1.3rem;
    span {
        float: left;
        color: #333;
        line-height: 50px;
    }
    a {
        float: right;
        color: #00aaee;
        line-height: 50px;
    }
}
.ppt-all {
	width: 100%;
    overflow: hidden;
}
#featured-area{height:150px;width: 88%;
    margin: 0 auto;}
.roundabout-holder{list-style:none;width:100%;height:300px;margin:0px auto;}
.roundabout-moveable-item{font-size:12px!important;height:150px;width:100%;cursor:pointer;
//    padding:5px;border:1px solid #aaaaaa;
    -webkit-border-radius:5px;-moz-border-radius:5px;background:#f9f9f9;top: 25px;}
.roundabout-moveable-item img{height:100%;width:100%;background-color:#FFFFFF;margin:0;}
.roundabout-in-focus{cursor:auto; width: 100%}
.roundabout-in-focus:hover{-webkit-box-shadow:0px 0px 20px #787878;-moz-box-shadow:0px 0px 20px #787878;background:#f9f9f9;}
.roundabout-holder span{display:none;}
.roundabout-in-focus:hover span{display:inline;position:absolute;bottom:5px;right:5px;padding:8px 20px;background:#f9f9f9;color:#3366cc;z-index:999;-webkit-border-top-left-radius:5px;-moz-border-radius-topLeft:5px;border-left:1px solid #aaaaaa;border-top:1px solid #aaaaaa;}
.roundabout a:active, .roundabout a:focus, .roundabout a:visited{outline:none;text-decoration:none;}
.roundabout li{margin:0}

.nav {
    margin: 15px 4%;
    width: 92%;
    height: 110px;
    li {
        position: relative;
        margin-right: 3%;
        float: left;
        width: calc(94% / 3);
        height: 110px;
        background: #fff;
        span {
            margin-top: 10px;
            display: block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space:nowrap;
            text-align: center;
            color: #333;
            font-size: 1.3rem;
        }
        p {
            margin: 5px auto;
            text-align: center;
            color: #999;
            width: 100%;
            i {
                display: inline-block;
                font-weight: lighter;
                width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space:nowrap;
            }
        }
        img {
            position: absolute;
            top: 50px;
            left: 50%;
            margin-left: -25px;
            width: 50px;
            height: 50px;
        }
    }
    li:last-of-type {
        margin-right: 0;
    }
}

.popular,
.services {
    margin-bottom: 15px;
    width: 100%;
    h4 {
        margin-left: 4%;
        font-size: 1.3rem;
        line-height: 35px;
        color: #666;
        font-weight: inherit;
    }
    .popular-center {
        width: 100%;
        background: #fff;
        li {
            overflow: hidden;
            padding: 10px 4%;
            width: 92%;
            border-bottom: 1px solid #f4f4f4;
            .img-logo {
                overflow: hidden;
                float: left;
                margin-right: 2%;
                width: 60px;
                height: 60px;
                img {
                    width: 60px;
                    height: 60px;
                }
            }
            div {
                float: left;
                width: 50%;
                p {
                    margin-top: 5px;
                    font-size: 1.4rem;
                    color: #333;
                }
                span {
                    color: #ff4545;
                    font-size: 1.3rem;
                }
                i {
                    margin-left: 20%;
                    color: #999;
                    font-size: 1.3rem;
                }
                em {
                    color: #999;
                    font-size: 1.3rem;
                }
            }
            a {
                float: right;
                color: #00aaee;
                font-size: 1.3rem;
                line-height: 60px;
            }
        }
    }
}

.services {
    .popular-center {
        li {
            .img-logo {
                overflow: hidden;
                float: left;
                margin-right: 2%;
                width: 70px;
                height: 70px;
                @include br4(50%);
                img {
                    width: 70px;
                    height: 70px;
                }
            }
            .popular-li-center{
                float: right;
                width: calc(98% - 70px);
                p{
                    width: 100%;
                    i{
                            margin-left: 6%;
                    }
                    u{
                        text-decoration: none;
                        color: #999;
    font-size: 1.3rem;
                        display: inline-block;
    width:calc(98% - 70px);
                    }
                }
            }
            a {
                float: right;
                color: #00aaee;
                font-size: 1.3rem;
                line-height: 26px;
            }
        }
    }
}

.bottom {
    margin-top: -15px;
    margin-bottom: 55px;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
        height: 20px;
        width: auto;
    }
    p {
        font-size: 1.3rem;
        color: #999;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 55px;
    background: #fff;
    box-shadow: 0px 0px 30px #ccc;
    .footer-center { 
        padding: 0 4%;
        width: 92%;
        background: #fff;
        .footer-part {
            float: left;
            overflow: hidden;
            width: calc(100% / 3);
            height: 100px;
            a {
                color: #999;
                .footer-part-top {
                    width: 100%;
                    font-size: 2.4rem;
                    line-height: 35px;
                    text-align: center;
                }
                p {
                    text-align: center;
                    font-size: 1.3rem;
                }
            }
        }
        .footer-part:nth-child(1) {
            a {
                color: #00aaee;
            }
        }
        .footer-part:nth-child(3) {
            a {
                .footer-part-top {
                    font-size: 3rem;
                }
            }
        }
    }
}