* {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei', 'iconfont';
  font-size: 62.5%; }

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #333333; }

ol,
ul,
li {
  list-style-type: none; }

input {
  outline: none;
  border: none;
  background: none; }

i, em {
  font-style: normal; }

/*border-radius*/
body {
  background: #f2f2f2; }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background: #ffffff; }
  header .header-center {
    width: 100%;
    height: 50px;
    font-size: 1.4rem;
    position: relative; }
    header .header-center img {
      position: absolute;
      top: 10px;
      left: 50%;
      margin-left: -45px;
      width: 90px; }
    header .header-center .region {
      float: left;
      margin-left: 4%;
      line-height: 50px;
      color: #666;
      font-size: 1.4rem; }
    header .header-center p {
      float: right;
      margin-right: 4%;
      font-size: 2rem;
      color: #666;
      line-height: 50px; }
  header .search {
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: 2;
    width: 100%;
    height: 50px;
    background: #fff; }
    header .search .search-seek {
      margin-top: 10px;
      float: left;
      width: 100%;
      height: 30px;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px; }
      header .search .search-seek .search-back {
        float: left;
        margin: 0 4%;
        width: 5%;
        line-height: 30px;
        font-weight: bold;
        color: #999;
        font-size: 1.4rem; }
      header .search .search-seek .search-seek-input {
        float: left;
        padding: 0 2%;
        width: 60%;
        font-size: 1.3rem;
        color: #aaaaaa;
        line-height: 30px;
        border: 1px solid #ccc;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px; }
      header .search .search-seek .search-seek-input::-webkit-input-placeholder {
        color: #aaaaaa; }
      header .search .search-seek .search-hunt {
        float: right;
        margin-right: 4%;
        padding: 0 3%;
        font-size: 1.3rem;
        color: #00aaee;
        line-height: 28px;
        border: 1px solid #00aaee;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px; }
        header .search .search-seek .search-hunt:active {
          color: #fff;
          background: #00aaee; }

.city {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  background: #f5f5f5; }
  .city .content-block {
    margin: 10px 4%;
    width: 92%;
    border: 1px solid #ccc;
    background: #fff;
    overflow: hidden; }
    .city .content-block span, .city .content-block i {
      float: left;
      margin-left: 4%;
      font-size: 1.6rem;
      color: #999;
      line-height: 30px; }
    .city .content-block input {
      float: left;
      width: 70%;
      line-height: 20px;
      font-size: 1.3rem;
      padding: 5px; }
    .city .content-block i {
      float: right;
      margin-right: 4%;
      transform: rotateZ(0deg);
      transition: .5s all linear; }
  .city .content-block-bottom {
    border-top: 1px solid #ccc;
    padding: 0 4%;
    width: 92%;
    height: calc(100% - 50px); }
    .city .content-block-bottom h4 {
      line-height: 50px;
      color: #999;
      font-size: 1.3rem; }
    .city .content-block-bottom p {
      width: calc(92% / 3 - 2px);
      height: 30px;
      border: 1px solid #ccc;
      text-align: center;
      margin-right: 4%;
      margin-bottom: 10px;
      line-height: 30px;
      background: #fff;
      font-size: 1.3rem; }
    .city .content-block-bottom ul li {
      float: left;
      width: calc(92% / 3 - 2px);
      height: 30px;
      border: 1px solid #ccc;
      text-align: center;
      margin-right: 4%;
      margin-bottom: 10px;
      line-height: 30px;
      background: #fff;
      font-size: 1.3rem; }
    .city .content-block-bottom ul li:nth-child(3n) {
      margin-right: 0; }

.seek {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 4;
  width: 100%;
  height: calc(100% - 40px);
  background: #ffffff;
  border-top: 1px solid #ccc; }
  .seek .seek-history {
    margin-top: 10px;
    padding-bottom: 5px;
    text-indent: 1.3rem;
    width: 100%;
    color: #aaaaaa;
    font-size: 1.3rem;
    border-bottom: 1px solid #ccc; }
  .seek .seek-aspect {
    overflow: hidden;
    width: 92%;
    height: auto;
    padding: 10px 4%; }
    .seek .seek-aspect .seek-aspect-side {
      float: left;
      margin: 0 8px 10px 0;
      padding: 0 2%;
      border: 1px solid #ccc;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      line-height: 28px;
      font-size: 1.3rem;
      color: #494949; }

.hunt {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: calc(100% - 40px);
  background: #ffffff;
  border-top: 1px solid #ccc; }
  .hunt .hunt-aspect {
    overflow: hidden;
    width: 100%;
    height: auto; }
    .hunt .hunt-aspect .hunt-aspect-side {
      padding: 10px 4%;
      border-bottom: 1px solid #ccc;
      line-height: 28px;
      font-size: 1.3rem; }
      .hunt .hunt-aspect .hunt-aspect-side p {
        line-height: 24px;
        color: #999;
        font-size: 1.3rem; }
        .hunt .hunt-aspect .hunt-aspect-side p i {
          float: right;
          color: #ff0000;
          font-size: 1.6rem; }
        .hunt .hunt-aspect .hunt-aspect-side p a {
          color: #333;
          font-size: 1.6rem; }
    .hunt .hunt-aspect .hunt-aspect-side:last-of-type {
      border-bottom: none; }

body {
  overflow: hidden; }

.classify {
  margin-top: 51px;
  width: 100%;
  height: calc(100% - 106px);
  border-top: 1px solid #ccc; }
  .classify .classify-left {
    float: left;
    width: calc(28% - 1px);
    height: 100%; }
    .classify .classify-left .classify-left-li {
      width: 100%;
      height: calc(100% / 8 - 1px);
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #666;
      font-size: 1.4rem; }
      .classify .classify-left .classify-left-li span {
        color: transparent;
        font-size: 1.4rem; }
    .classify .classify-left .classify-left-li.h {
      color: #00aaee;
      background: #fff; }
      .classify .classify-left .classify-left-li.h span {
        color: #00aaee; }
  .classify .classify-right {
    display: none;
    overflow: auto;
    float: right;
    width: 72%;
    height: 100%;
    background: #fff;
    border-left: 1px solid #ccc; }
    .classify .classify-right .classify-right-ul .classify-right-top {
      width: 90%;
      height: 40px;
      padding: 10px 5%;
      line-height: 35px;
      border-bottom: 1px solid #ccc; }
      .classify .classify-right .classify-right-ul .classify-right-top h4 {
        display: inline-block;
        line-height: 25px;
        border-bottom: 1px solid #00aaee;
        font-size: 1.6rem; }
    .classify .classify-right .classify-right-ul .classify-right-li {
      padding: 10px 5%;
      height: 50px;
      border-bottom: 1px solid #ccc; }
      .classify .classify-right .classify-right-ul .classify-right-li a p {
        line-height: 24px;
        color: #999;
        font-size: 1.3rem; }
        .classify .classify-right .classify-right-ul .classify-right-li a p i {
          float: right;
          color: #999;
          font-size: 1.6rem; }
        .classify .classify-right .classify-right-ul .classify-right-li a p span {
          display: inline-block;
          width: 80%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #333;
          font-size: 1.6rem; }
      .classify .classify-right .classify-right-ul .classify-right-li a p:nth-child(2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 55px;
  background: #fff; }
  footer .footer-center {
    padding: 0 4%;
    width: 92%;
    background: #fff; }
    footer .footer-center .footer-part {
      float: left;
      overflow: hidden;
      width: calc(100% / 3);
      height: 100px; }
      footer .footer-center .footer-part a {
        color: #999; }
        footer .footer-center .footer-part a .footer-part-top {
          width: 100%;
          font-size: 2.4rem;
          line-height: 35px;
          text-align: center; }
        footer .footer-center .footer-part a p {
          text-align: center;
          font-size: 1.3rem; }
    footer .footer-center .footer-part:nth-child(2) a {
      color: #00aaee; }
    footer .footer-center .footer-part:nth-child(3) a .footer-part-top {
      font-size: 3rem; }
