* {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei', 'iconfont';
  font-size: 62.5%; }

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #333333; }

ol,
ul,
li {
  list-style-type: none; }

input {
  outline: none;
  border: none;
  background: none; }

i, em {
  font-style: normal; }

/*border-radius*/
body {
  background: #f2f2f2; }

.hunt {
  margin: 0 0 80px 0;
  width: 100%; }
  .hunt .back {
    padding: 0 4%;
    width: 92%;
    display: block;
    background: #ffffff;
    font-size: 1.3rem;
    color: #666;
    font-weight: inherit;
    line-height: 40px; }
  .hunt .hunt-aspect {
    padding: 10px 0;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
    height: auto;
    background: #ffffff; }
    .hunt .hunt-aspect .firm, .hunt .hunt-aspect .private {
      display: none; }
    .hunt .hunt-aspect .hunt-aspect-manage {
      padding: 10px 5%; }
      .hunt .hunt-aspect .hunt-aspect-manage span {
        display: inline-block;
        width: 118px;
        color: #999;
        font-size: 1.3rem;
        text-align: right; }
      .hunt .hunt-aspect .hunt-aspect-manage i {
        color: #ff0000;
        font-size: 1.3rem; }
      .hunt .hunt-aspect .hunt-aspect-manage em {
        color: #333;
        font-size: 1.3rem; }
      .hunt .hunt-aspect .hunt-aspect-manage u {
        text-decoration: none;
        color: #999;
        font-size: 1.3rem; }
      .hunt .hunt-aspect .hunt-aspect-manage input[type="radio"] {
        margin: 0 0 0 10px;
        vertical-align: middle; }
      .hunt .hunt-aspect .hunt-aspect-manage .turn {
        margin: 10px 0 0 127px; }
      .hunt .hunt-aspect .hunt-aspect-manage input[type="text"] {
        margin-left: 8px;
        padding: 0 10px;
        width: 46%;
        height: 30px;
        color: #999;
        font-size: 1.3rem;
        border: 1px solid #ccc; }
      .hunt .hunt-aspect .hunt-aspect-manage input-placeholder {
        color: #999; }
      .hunt .hunt-aspect .hunt-aspect-manage ::-webkit-input-placeholder {
        color: #999; }
      .hunt .hunt-aspect .hunt-aspect-manage p {
        display: none;
        margin-top: 3px;
        color: #ff0000;
        margin-left: 135px;
        font-size: 1.2rem; }
    .hunt .hunt-aspect .ask {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      height: 45px;
      background: #00aaee;
      box-shadow: 0px 0px 30px #ccc;
      color: #fff;
      text-align: center;
      line-height: 45px;
      font-size: 1.4rem;
      border: none; }
  .hunt h4 {
    padding: 20px 5% 0 5%;
    font-size: 1.3rem;
    font-weight: inherit;
    color: #666; }
