* {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei', 'iconfont';
  font-size: 62.5%; }

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #333333; }

ol,
ul,
li {
  list-style-type: none; }

input {
  outline: none;
  border: none;
  background: none; }

i, em {
  font-style: normal; }

/*border-radius*/
body {
  background: #f2f2f2; }

.header {
  position: absolute;
  width: 100%; }
  .header a {
    margin-left: 4%;
    line-height: 60px;
    color: #fff;
    font-size: 2rem;
    font-weight: bold; }
  .header .header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .header .header-center .person {
      overflow: hidden;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%; }
      .header .header-center .person img {
        width: 70px;
        height: 70px; }
    .header .header-center p {
      margin-top: 10px;
      font-size: 1.4rem;
      color: #fff;
      line-height: 12px;
      text-align: center; }
      .header .header-center p span {
        font-size: 1.3rem;
        font-weight: lighter; }

.ppt {
  width: 100%;
  height: auto; }
  .ppt img {
    width: 100%; }

.center-top {
  width: 96%;
  padding: 0 2%;
  background: #fff; }
  .center-top .serve {
    padding: 20px 10% 10px 10%;
    background: #fff;
    border-bottom: 1px solid #ccc; }
    .center-top .serve p {
      color: #666;
      font-size: 1.3rem; }
      .center-top .serve p span {
        font-size: 1.3rem; }
      .center-top .serve p i {
        float: right;
        font-size: 1.3rem; }
  .center-top .genre {
    padding: 15px 10%;
    background: #fff; }
    .center-top .genre p {
      color: #666;
      font-size: 1.3rem; }
      .center-top .genre p span {
        font-size: 1.3rem; }
      .center-top .genre p i {
        float: right;
        font-size: 1.3rem; }
      .center-top .genre p em {
        color: #ff9700;
        font-size: 1.4rem; }

.center {
  margin-top: 20px;
  width: 100%;
  background: #fff; }
  .center .wrapper03 {
    position: relative;
    height: 30px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    border-bottom: 1px solid #ccc; }
    .center .wrapper03 .scroller {
      position: absolute; }
      .center .wrapper03 .scroller li {
        color: #666;
        float: left;
        font-size: 1.3rem;
        text-align: center; }
        .center .wrapper03 .scroller li a {
          margin: 0 18px;
          color: #666;
          line-height: 29px;
          display: block;
          font-size: 1.3rem; }
    .center .wrapper03 li.cur a {
      color: #666;
      border-bottom: 1px solid #00aaee; }
  .center .genre {
    overflow: hidden;
    padding: 15px 4%;
    background: #fff;
    border-bottom: 1px solid #ccc; }
    .center .genre span {
      color: #999;
      font-size: 1.3rem;
      line-height: 24px; }
    .center .genre .genre-ul {
      width: 100%; }
      .center .genre .genre-ul .genre-li {
        float: left;
        padding: 5px;
        border: 1px solid #ccc;
        margin: 5px 2% 5px 0;
        color: #666; }
        .center .genre .genre-ul .genre-li a {
          color: #666;
          font-size: 1.3rem; }
      .center .genre .genre-ul .genre-li.h {
        border: 1px solid #00aaee; }
        .center .genre .genre-ul .genre-li.h a {
          color: #00aaee; }
  .center .area {
    overflow: hidden;
    padding: 10px 4%;
    font-size: 1.3rem;
    border-bottom: 1px solid #ccc; }
    .center .area i {
      margin-right: 2%;
      color: #999; }
    .center .area span {
      font-size: 1.4rem;
      color: #ff0000; }
  .center .area:nth-child(4) {
    border-bottom: none; }

.center-two {
  overflow: hidden;
  margin-top: 20px;
  width: 96%;
  padding: 0 2%;
  background: #fff; }
  .center-two .center-two-top {
    padding: 20px 4%;
    border-bottom: 1px solid #ccc; }
    .center-two .center-two-top p {
      font-size: 1.4rem;
      color: #333; }
      .center-two .center-two-top p span {
        font-size: 1.3rem;
        color: #999; }
      .center-two .center-two-top p i {
        float: right;
        font-size: 1.3rem;
        color: #999; }
        .center-two .center-two-top p i em {
          font-size: 1.4rem;
          color: #ff0000; }
    .center-two .center-two-top ul {
      overflow: hidden;
      margin-top: 15px; }
      .center-two .center-two-top ul li {
        float: left;
        margin: 5px 2% 5px 0;
        width: calc(96% /3 - 2px);
        height: 20px;
        border: 1px solid #00aaee;
        color: #00aaee;
        font-size: 1.3rem;
        text-align: center;
        line-height: 20px; }
      .center-two .center-two-top ul li:nth-child(3n) {
        margin-right: 0; }
  .center-two .center-two-bottom {
    overflow: hidden;
    padding: 10px 4%; }
    .center-two .center-two-bottom p {
      margin: 10px auto;
      color: #333;
      font-size: 1.3rem; }
      .center-two .center-two-bottom p span {
        color: #999; }
      .center-two .center-two-bottom p i {
        margin-left: 3%;
        color: #666; }
      .center-two .center-two-bottom p span:last-of-type {
        float: right; }
    .center-two .center-two-bottom .center-two-bottom-man {
      margin-top: 10px; }
      .center-two .center-two-bottom .center-two-bottom-man .person {
        float: left;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%; }
        .center-two .center-two-bottom .center-two-bottom-man .person img {
          width: 36px;
          height: 36px; }
      .center-two .center-two-bottom .center-two-bottom-man p {
        float: left;
        width: calc(100% - 36px); }
  .center-two a {
    display: block;
    margin: 0 auto 20px auto;
    padding: 5px 5%;
    width: 24%;
    text-align: center;
    color: #00aaee;
    border: 1px solid #00aaee; }

.b {
  position: fixed;
  top: 0;
  left: 0; }

.bottom {
  margin: 20px 0 45px 0;
  width: 100%;
  background: #fff; }
  .bottom .bottom-top-ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #fff; }
    .bottom .bottom-top-ul .bottom-top-li {
      float: left;
      width: calc(100% / 3);
      height: 39px;
      border-bottom: 1px solid #ccc;
      text-align: center;
      font-size: 1.4rem;
      color: #666;
      line-height: 39px; }
    .bottom .bottom-top-ul .bottom-top-li.h {
      color: #00aaee;
      border-bottom: 1px solid #00aaee; }
  .bottom .bottom-footer-ul {
    padding: 0 3%;
    width: 94%; }
    .bottom .bottom-footer-ul .bottom-footer-li {
      display: none;
      width: 100%;
      padding: 20px 0; }
      .bottom .bottom-footer-ul .bottom-footer-li .ul-referral {
        min-height: 200px; }
      .bottom .bottom-footer-ul .bottom-footer-li .ul-product {
        overflow: hidden; }
        .bottom .bottom-footer-ul .bottom-footer-li .ul-product .li-product:nth-child(1) i {
          background: url("../images/icon1.png") no-repeat;
          background-size: 700% 100%;
          background-position: -143px 0px; }
        .bottom .bottom-footer-ul .bottom-footer-li .ul-product .li-product:nth-child(2) i {
          background: url("../images/icon1.png") no-repeat;
          background-size: 700% 100%;
          background-position: -95px 0px; }
        .bottom .bottom-footer-ul .bottom-footer-li .ul-product .li-product:nth-child(3) i {
          background: url("../images/icon1.png") no-repeat;
          background-size: 700% 100%;
          background-position: -48px 0px; }
        .bottom .bottom-footer-ul .bottom-footer-li .ul-product .li-product i {
          display: inline-block;
          width: 24px;
          height: 24px;
          background: url("../images/icon1.png") no-repeat;
          background-size: 700% 100%;
          background-position: -2px 0px;
          vertical-align: middle; }
        .bottom .bottom-footer-ul .bottom-footer-li .ul-product .li-product span {
          font-size: 1.4rem;
          font-weight: bold;
          color: #ff9700;
          vertical-align: middle;
          line-height: 20px; }
        .bottom .bottom-footer-ul .bottom-footer-li .ul-product .li-product p {
          padding: 10px 0 20px 28px;
          color: #666;
          font-size: 1.3rem; }
        .bottom .bottom-footer-ul .bottom-footer-li .ul-product .li-product ul {
          margin-left: 30px; }
          .bottom .bottom-footer-ul .bottom-footer-li .ul-product .li-product ul li div i {
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #ff9700;
            transform: rotateZ(135deg);
            transition: 0.3s all linear;
            vertical-align: middle; }
          .bottom .bottom-footer-ul .bottom-footer-li .ul-product .li-product ul li div span {
            width: 870px;
            font-size: 1.3rem;
            color: #666666;
            line-height: 30px;
            font-weight: inherit;
            vertical-align: middle; }
        .bottom .bottom-footer-ul .bottom-footer-li .ul-product li:nth-child(1) li span {
          color: #333333; }
      .bottom .bottom-footer-ul .bottom-footer-li .ul-hot {
        width: 100%; }
        .bottom .bottom-footer-ul .bottom-footer-li .ul-hot .li-hot {
          overflow: hidden;
          padding: 0 0 10px 0;
          width: 100%;
          border-bottom: 1px solid #ccc; }
          .bottom .bottom-footer-ul .bottom-footer-li .ul-hot .li-hot p {
            margin-top: 10px;
            overflow: hidden; }
            .bottom .bottom-footer-ul .bottom-footer-li .ul-hot .li-hot p span {
              float: left;
              width: 10px;
              font-size: 1.3rem;
              font-weight: bold;
              color: #ff9700; }
            .bottom .bottom-footer-ul .bottom-footer-li .ul-hot .li-hot p em {
              float: left;
              width: 10px;
              font-size: 1.3rem;
              font-weight: bold;
              color: #00aaee; }
            .bottom .bottom-footer-ul .bottom-footer-li .ul-hot .li-hot p i {
              float: left;
              margin-left: 2%;
              width: calc(98% - 10px);
              font-size: 1.3rem;
              color: #333; }
          .bottom .bottom-footer-ul .bottom-footer-li .ul-hot .li-hot p:nth-child(2) i {
            float: left;
            margin-left: 2%;
            width: calc(98% - 10px);
            font-size: 1.3rem;
            color: #999; }
        .bottom .bottom-footer-ul .bottom-footer-li .ul-hot .li-hot:last-of-type {
          border-bottom: none; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 45px;
  background: #fff; }
  footer .footer-center {
    width: 100%;
    background: #fff; }
    footer .footer-center .footer-part {
      float: left;
      overflow: hidden;
      width: calc(30% - 1px);
      height: 43px;
      border: 1px solid #00aaee;
      border-right: none;
      text-align: center;
      color: #333; }
      footer .footer-center .footer-part p {
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.3rem; }
        footer .footer-center .footer-part p span {
          font-size: 1.6rem;
          line-height: 43px;
          text-align: center; }
        footer .footer-center .footer-part p .footer-part-icon {
          float: left;
          width: 20px;
          height: 20px;
          background: url("../images/gouwuc.png") no-repeat;
          background-size: 100% 220%;
          background-position: 1px -27px; }
      footer .footer-center .footer-part p:nth-child(2) span {
        color: #ff9700; }
      footer .footer-center .footer-part p:nth-child(2) .footer-part-icon {
        float: left;
        background: url("../images/gouwuc.png") no-repeat;
        background-size: 100% 220%;
        background-position: 1px 3px; }
    footer .footer-center .footer-part:nth-child(2) p:nth-child(1) span {
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url("../images/phone.png") no-repeat;
      background-size: 100% 220%;
      background-position: 0px 0px; }
    footer .footer-center .footer-part:nth-child(2) p:nth-child(2) span {
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url("../images/phone.png") no-repeat;
      background-size: 100% 220%;
      background-position: 0 -25px; }
    footer .footer-center .footer-part:nth-child(3) {
      width: calc(40% - 1px);
      background: #00aaee; }
      footer .footer-center .footer-part:nth-child(3) a {
        line-height: 45px;
        font-size: 1.4rem;
        color: #fff; }
