* {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei', 'iconfont';
  font-size: 62.5%; }

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #333333; }

ol,
ul,
li {
  list-style-type: none; }

input {
  outline: none;
  border: none;
  background: none; }

i, em {
  font-style: normal; }

/*border-radius*/
body {
  background: #f2f2f2; }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background: #ffffff; }
  header .header-center {
    width: 100%;
    height: 50px;
    font-size: 1.4rem;
    position: relative; }
    header .header-center img {
      position: absolute;
      top: 10px;
      left: 50%;
      margin-left: -45px;
      width: 90px; }
    header .header-center .region {
      float: left;
      margin-left: 4%;
      line-height: 50px;
      color: #666;
      font-size: 1.4rem; }
    header .header-center p {
      float: right;
      margin-right: 4%;
      font-size: 2rem;
      color: #666;
      line-height: 50px; }
  header .search {
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: 2;
    width: 100%;
    height: 50px;
    background: #fff; }
    header .search .search-seek {
      margin-top: 10px;
      float: left;
      width: 100%;
      height: 30px;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px; }
      header .search .search-seek .search-back {
        float: left;
        margin: 0 4%;
        width: 5%;
        line-height: 30px;
        font-weight: bold;
        color: #999;
        font-size: 1.4rem; }
      header .search .search-seek .search-seek-input {
        float: left;
        padding: 0 2%;
        width: 60%;
        font-size: 1.3rem;
        color: #aaaaaa;
        line-height: 30px;
        border: 1px solid #ccc;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px; }
      header .search .search-seek .search-seek-input::-webkit-input-placeholder {
        color: #aaaaaa; }
      header .search .search-seek .search-hunt {
        float: right;
        margin-right: 4%;
        padding: 0 3%;
        font-size: 1.3rem;
        color: #00aaee;
        line-height: 28px;
        border: 1px solid #00aaee;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px; }
        header .search .search-seek .search-hunt:active {
          color: #fff;
          background: #00aaee; }

.city {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  background: #f5f5f5; }
  .city .content-block {
    margin: 10px 4%;
    width: 92%;
    border: 1px solid #ccc;
    background: #fff;
    overflow: hidden; }
    .city .content-block span, .city .content-block i {
      float: left;
      margin-left: 4%;
      font-size: 1.6rem;
      color: #999;
      line-height: 30px; }
    .city .content-block input {
      float: left;
      width: 70%;
      line-height: 20px;
      font-size: 1.3rem;
      padding: 5px; }
    .city .content-block i {
      float: right;
      margin-right: 4%;
      transform: rotateZ(0deg);
      transition: .5s all linear; }
  .city .content-block-bottom {
    border-top: 1px solid #ccc;
    padding: 0 4%;
    width: 92%;
    height: calc(100% - 50px); }
    .city .content-block-bottom h4 {
      line-height: 50px;
      color: #999;
      font-size: 1.3rem; }
    .city .content-block-bottom p {
      width: calc(92% / 3 - 2px);
      height: 30px;
      border: 1px solid #ccc;
      text-align: center;
      margin-right: 4%;
      margin-bottom: 10px;
      line-height: 30px;
      background: #fff;
      font-size: 1.3rem; }
    .city .content-block-bottom ul li {
      float: left;
      width: calc(92% / 3 - 2px);
      height: 30px;
      border: 1px solid #ccc;
      text-align: center;
      margin-right: 4%;
      margin-bottom: 10px;
      line-height: 30px;
      background: #fff;
      font-size: 1.3rem; }
    .city .content-block-bottom ul li:nth-child(3n) {
      margin-right: 0; }

.seek {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 4;
  width: 100%;
  height: calc(100% - 40px);
  background: #ffffff;
  border-top: 1px solid #ccc; }
  .seek .seek-history {
    margin-top: 10px;
    padding-bottom: 5px;
    text-indent: 1.3rem;
    width: 100%;
    color: #aaaaaa;
    font-size: 1.3rem;
    border-bottom: 1px solid #ccc; }
  .seek .seek-aspect {
    overflow: hidden;
    width: 92%;
    height: auto;
    padding: 10px 4%; }
    .seek .seek-aspect .seek-aspect-side {
      float: left;
      margin: 0 8px 10px 0;
      padding: 0 2%;
      border: 1px solid #ccc;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      line-height: 28px;
      font-size: 1.3rem;
      color: #494949; }

.hunt {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: calc(100% - 40px);
  background: #ffffff;
  border-top: 1px solid #ccc; }
  .hunt .hunt-aspect {
    overflow: hidden;
    width: 100%;
    height: auto; }
    .hunt .hunt-aspect .hunt-aspect-side {
      padding: 10px 4%;
      border-bottom: 1px solid #ccc;
      line-height: 28px;
      font-size: 1.3rem; }
      .hunt .hunt-aspect .hunt-aspect-side p {
        line-height: 24px;
        color: #999;
        font-size: 1.3rem; }
        .hunt .hunt-aspect .hunt-aspect-side p i {
          float: right;
          color: #ff0000;
          font-size: 1.6rem; }
        .hunt .hunt-aspect .hunt-aspect-side p a {
          color: #333;
          font-size: 1.6rem; }
    .hunt .hunt-aspect .hunt-aspect-side:last-of-type {
      border-bottom: none; }

.ppt {
  margin-top: 50px;
  width: 100%; }
  .ppt img {
    width: 100%; }

.center {
  margin-top: 20px;
  padding: 0 4%;
  width: 92%;
  height: 200px;
  background: #fff; }
  .center .center-part {
    float: left;
    overflow: hidden;
    width: 25%;
    height: 100px; }
    .center .center-part .center-part-top {
      margin: 10px auto;
      width: 48px;
      height: 48px;
      background: url("../images/icon-21.png") no-repeat;
      background-size: 100% 100%;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%; }
    .center .center-part p {
      text-align: center;
      color: #666;
      font-size: 1.3rem; }
  .center .center-part:nth-child(2) .center-part-top {
    background: url("../images/icon-19.png") no-repeat;
    background-size: 100% 100%; }
  .center .center-part:nth-child(3) .center-part-top {
    background: url("../images/icon-20.png") no-repeat;
    background-size: 100% 100%; }
  .center .center-part:nth-child(4) .center-part-top {
    background: url("../images/icon-25.png") no-repeat;
    background-size: 100% 100%; }
  .center .center-part:nth-child(5) .center-part-top {
    background: url("../images/icon-24.png") no-repeat;
    background-size: 100% 100%; }
  .center .center-part:nth-child(6) .center-part-top {
    background: url("../images/icon-22.png") no-repeat;
    background-size: 100% 100%; }
  .center .center-part:nth-child(7) .center-part-top {
    background: url("../images/icon-26.png") no-repeat;
    background-size: 100% 100%; }
  .center .center-part:nth-child(8) .center-part-top {
    background: url("../images/icon-23.png") no-repeat;
    background-size: 100% 100%; }

.subject {
  margin-top: 20px;
  padding: 0 4%;
  width: 92%;
  height: 50px;
  background: #fff;
  font-size: 1.3rem; }
  .subject span {
    float: left;
    color: #333;
    line-height: 50px; }
  .subject a {
    float: right;
    color: #00aaee;
    line-height: 50px; }

.box {
  width: 100%;
  height: 130px;
  position: relative;
  overflow: hidden; }
  .box .list {
    width: 100%;
    height: 130px;
    position: absolute;
    left: 50%; }
    .box .list ul li {
      position: absolute;
      top: 0;
      left: 0;
      list-style: none;
      opacity: 0;
      transition: all 0.3s ease-out; }
      .box .list ul li a img {
        width: 80%;
        height: 130px;
        border: none;
        float: left; }
    .box .list ul .p1 {
      transform: translate3d(-224px, 0, 0) scale(0.81); }
    .box .list ul .p2 {
      transform: translate3d(-108%, 0, 0) scale(0.81);
      transform-origin: 0 50%;
      opacity: 0.8;
      z-index: 2; }
    .box .list ul .p3 {
      transform: translate3d(-40%, 0, 0) scale(1);
      z-index: 3;
      opacity: 1; }
    .box .list ul .p4 {
      transform: translate3d(24%, 0, 0) scale(0.81);
      transform-origin: 100% 50%;
      opacity: 0.8;
      z-index: 2; }
    .box .list ul .p5 {
      transform: translate3d(250%, 0, 0) scale(0.81); }
    .box .list ul .p6 {
      transform: translate3d(896px, 0, 0) scale(0.81); }
    .box .list ul .p7 {
      transform: translate3d(1120px, 0, 0) scale(0.81); }
  .box .btn {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 60px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 255, 0, 0.5);
    cursor: pointer; }
  .box .next {
    right: 0; }
  .box .buttons {
    position: absolute;
    width: 1200px;
    height: 30px;
    bottom: -20px;
    left: 50%;
    margin-left: -600px;
    text-align: center;
    padding-top: 10px; }
    .box .buttons a {
      display: inline-block;
      width: 35px;
      height: 5px;
      padding-top: 4px;
      cursor: pointer; }
      .box .buttons a span {
        display: block;
        width: 35px;
        height: 1px;
        background: red; }
      .box .buttons a .blue {
        background: blue; }

.nav {
  margin: 15px 4%;
  width: 92%;
  height: 110px; }
  .nav li {
    position: relative;
    margin-right: 3%;
    float: left;
    width: calc(94% / 3);
    height: 110px;
    background: #fff; }
    .nav li span {
      margin-top: 10px;
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      color: #333; }
    .nav li p {
      margin: 5px auto;
      text-align: center;
      color: #999;
      width: 100%; }
      .nav li p i {
        display: inline-block;
        font-weight: lighter;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .nav li img {
      position: absolute;
      top: 50px;
      left: 50%;
      margin-left: -25px;
      width: 50px;
      height: 50px; }
  .nav li:last-of-type {
    margin-right: 0; }

.popular,
.services {
  margin-bottom: 15px;
  width: 100%; }
  .popular h4,
  .services h4 {
    margin-left: 4%;
    font-size: 1.3rem;
    line-height: 35px;
    color: #666;
    font-weight: inherit; }
  .popular .popular-center,
  .services .popular-center {
    width: 100%;
    background: #fff; }
    .popular .popular-center li,
    .services .popular-center li {
      overflow: hidden;
      padding: 10px 4%;
      width: 92%;
      border-bottom: 1px solid #f4f4f4; }
      .popular .popular-center li .img-logo,
      .services .popular-center li .img-logo {
        overflow: hidden;
        float: left;
        margin-right: 2%;
        width: 60px;
        height: 60px; }
        .popular .popular-center li .img-logo img,
        .services .popular-center li .img-logo img {
          width: 60px;
          height: 60px; }
      .popular .popular-center li div,
      .services .popular-center li div {
        float: left;
        width: 50%; }
        .popular .popular-center li div p,
        .services .popular-center li div p {
          margin-top: 5px;
          font-size: 1.4rem;
          color: #333; }
        .popular .popular-center li div span,
        .services .popular-center li div span {
          color: #ff4545;
          font-size: 1.3rem; }
        .popular .popular-center li div i,
        .services .popular-center li div i {
          margin-left: 20%;
          color: #999;
          font-size: 1.3rem; }
        .popular .popular-center li div em,
        .services .popular-center li div em {
          color: #999;
          font-size: 1.3rem; }
      .popular .popular-center li a,
      .services .popular-center li a {
        float: right;
        color: #00aaee;
        font-size: 1.3rem;
        line-height: 60px; }

.services .popular-center li .img-logo {
  overflow: hidden;
  float: left;
  margin-right: 2%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%; }
  .services .popular-center li .img-logo img {
    width: 70px;
    height: 70px; }

.services .popular-center li a {
  float: right;
  color: #00aaee;
  font-size: 1.3rem;
  line-height: 80px; }

.bottom {
  margin-top: -15px;
  margin-bottom: 55px;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .bottom img {
    height: 20px;
    width: auto; }
  .bottom p {
    font-size: 1.3rem;
    color: #999; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 55px;
  background: #fff;
  box-shadow: 0px 0px 30px #ccc; }
  footer .footer-center {
    padding: 0 4%;
    width: 92%;
    background: #fff; }
    footer .footer-center .footer-part {
      float: left;
      overflow: hidden;
      width: calc(100% / 3);
      height: 100px; }
      footer .footer-center .footer-part a {
        color: #999; }
        footer .footer-center .footer-part a .footer-part-top {
          width: 100%;
          font-size: 2.4rem;
          line-height: 35px;
          text-align: center; }
        footer .footer-center .footer-part a p {
          text-align: center;
          font-size: 1.3rem; }
    footer .footer-center .footer-part:nth-child(1) a {
      color: #00aaee; }
    footer .footer-center .footer-part:nth-child(3) a .footer-part-top {
      font-size: 3rem; }
