* {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei', 'iconfont';
  font-size: 62.5%; }

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #333333; }

ol,
ul,
li {
  list-style-type: none; }

input {
  outline: none;
  border: none;
  background: none; }

i, em {
  font-style: normal; }

/*border-radius*/
body {
  background: #f2f2f2; }

.ask {
  display: block;
  width: 92%;
  padding: 0 4%;
  background: #fff;
  border-bottom: 1px solid #ccc;
  line-height: 35px;
  font-size: 1.4rem;
  color: #666; }

.center-perfect {
  padding: 10px 0;
  width: 100%;
  background: #fff;
  font-size: 1.4rem;
  overflow: hidden; }
  .center-perfect .perfect-row {
    padding: 0 4%;
    width: 92%;
    height: 30px;
    margin-bottom: 10px; }
    .center-perfect .perfect-row .sky {
      float: left;
      width: 6px;
      height: 30px; }
    .center-perfect .perfect-row i {
      float: left;
      margin-right: 5px;
      color: #FF000D;
      font-size: 1.4rem;
      line-height: 36px; }
    .center-perfect .perfect-row .perfect-row-left {
      float: left;
      width: 62px;
      font-size: 1.2rem;
      color: #333;
      line-height: 30px;
      text-align: right; }
    .center-perfect .perfect-row .perfect-row-radio {
      float: left;
      margin-top: 9px; }
    .center-perfect .perfect-row .perfect-row-right {
      float: left;
      font-size: 1.2rem;
      color: #333;
      line-height: 30px; }
    .center-perfect .perfect-row .firm {
      margin-left: 5px;
      font-size: 1.2rem;
      color: #999;
      line-height: 30px; }
    .center-perfect .perfect-row .null {
      margin-right: 13px; }
    .center-perfect .perfect-row .phone {
      float: left;
      padding: 0 10px;
      width: 60%;
      height: 28px;
      line-height: 28px;
      border: 1px solid #ccc; }
    .center-perfect .perfect-row .phone-select {
      position: relative;
      float: left;
      padding: 0 10px;
      width: 60%;
      height: 28px;
      line-height: 28px;
      border: 1px solid #ccc;
      outline: none; }
      .center-perfect .perfect-row .phone-select .trigon {
        float: right;
        line-height: 30px;
        font-size: 1.4rem; }
      .center-perfect .perfect-row .phone-select .phone-text {
        color: #999;
        font-size: 1.2rem;
        float: left;
        width: 90%;
        height: 30px;
        overflow: hidden; }
    .center-perfect .perfect-row .choose-select {
      display: none;
      position: absolute;
      left: -1px;
      top: 28px;
      z-index: 2;
      width: 100%;
      background: #fff;
      border: 1px solid #ccc; }
      .center-perfect .perfect-row .choose-select .choose-option {
        overflow: hidden;
        cursor: default;
        font-size: 1.4rem;
        color: #666;
        margin: 0 10px;
        padding: 6px 0;
        border-bottom: 1px solid #ccc; }
        .center-perfect .perfect-row .choose-select .choose-option p {
          float: left;
          line-height: 20px; }
      .center-perfect .perfect-row .choose-select .choose-option.h {
        background: #00aaee;
        color: #fff; }
    .center-perfect .perfect-row #slider {
      float: left;
      width: 242px;
      height: 30px;
      position: relative;
      border-radius: 2px;
      background-color: #dae2d0;
      overflow: hidden;
      text-align: center;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none; }
    .center-perfect .perfect-row #slider_bg {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: #7AC23C;
      z-index: 1; }
    .center-perfect .perfect-row #label {
      width: 46px;
      position: absolute;
      left: 0;
      top: 0;
      height: 28px;
      line-height: 28px;
      border: 1px solid #ccc;
      background: #fff;
      z-index: 3;
      cursor: move;
      color: #ff9e77;
      font-size: 1.4rem;
      font-weight: 900; }
    .center-perfect .perfect-row #labelTip {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 1.2rem;
      font-family: 'Microsoft Yahei', serif;
      color: #787878;
      line-height: 28px;
      text-align: center;
      z-index: 2; }
  .center-perfect .perfect-row:nth-child(1) {
    height: 58px; }
  .center-perfect .perfect-row:nth-child(6), .center-perfect .perfect-row:nth-child(7) {
    height: 100px; }
  .center-perfect .enroll-code {
    display: none; }
  .center-perfect .permit-all {
    overflow: hidden;
    position: relative;
    margin-right: 20px;
    float: left;
    width: 80px;
    height: 80px;
    cursor: pointer; }
    .center-perfect .permit-all .plus {
      font-size: 4rem;
      text-align: center;
      color: #999; }
    .center-perfect .permit-all .plus-file {
      font-size: 1.4rem;
      text-align: center;
      color: #999; }
    .center-perfect .permit-all #addCommodityIndex {
      position: absolute;
      left: 0;
      top: 0;
      height: 80px;
      width: 80px; }
  .center-perfect .attachment-all {
    overflow: hidden;
    position: relative;
    margin-top: 5px;
    float: left;
    width: 100px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #ccc; }
    .center-perfect .attachment-all .attachment-file {
      font-size: 1.2rem;
      text-align: center;
      color: #000;
      line-height: 20px; }
    .center-perfect .attachment-all .attachment {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 20px;
      opacity: 0; }
  .center-perfect textarea {
    float: left;
    width: 63%;
    height: 88px;
    padding: 5px;
    resize: none;
    outline: none;
    border: 1px solid #ccc; }
  .center-perfect .perfect-code-hint {
    padding: 0 4%;
    overflow: hidden;
    margin: -4px 0 15px 75px;
    width: 40%;
    color: #999;
    font-size: 1.2rem; }
    .center-perfect .perfect-code-hint .red {
      display: none;
      color: #ff0000; }
  .center-perfect .enroll-bottom-breath {
    margin: 0 auto;
    width: 210px;
    height: 20px; }
    .center-perfect .enroll-bottom-breath a {
      margin-left: 22px;
      color: #333;
      font-size: 1.4rem;
      color: #00aaee; }

.knob {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: calc(100% - 2px);
  height: 45px;
  text-align: center;
  line-height: 45px;
  font-size: 1.4rem;
  border: 1px solid #0ae; }
  .knob a {
    display: inline-block;
    width: 100%;
    height: 45px;
    color: #fff;
    background: #00aaee; }
  .knob .affirm, .knob .cancel {
    float: left;
    width: 50%; }
  .knob .affirm {
    color: #666;
    background: #fff; }

.put {
  margin: 40px 5%;
  color: #666;
  font-size: 1.4rem; }
  .put span {
    color: #0ae;
    font-size: 1.4rem; }

.put-top {
  margin: 10px 5%;
  color: #666;
  font-size: 1.4rem; }
  .put-top span {
    color: #0ae;
    font-size: 1.4rem; }
