* {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei', 'iconfont';
  font-size: 62.5%; }

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #333333; }

ol,
ul,
li {
  list-style-type: none; }

input {
  outline: none;
  border: none;
  background: none; }

i, em {
  font-style: normal; }

/*border-radius*/
body {
  background: #f2f2f2; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff; }
  header .header-top {
    overflow: hidden;
    width: 100%;
    width: 100%; }
    header .header-top i {
      float: left;
      width: 50%;
      color: #333;
      text-align: center;
      line-height: 34px;
      font-size: 1.4rem;
      border-bottom: 1px solid #ccc; }
      header .header-top i sup {
        color: #ff0000;
        line-height: 10px;
        font-size: 2rem; }
      header .header-top i sup.h {
        display: none; }
    header .header-top i.h {
      border-bottom: 1px solid #00aaee;
      color: #00aaee; }

.content-ul {
  display: none;
  margin: 35px 0 55px 0; }
  .content-ul .content-li {
    overflow: hidden;
    margin-bottom: 20px;
    background: #fff; }
    .content-ul .content-li .popular-li-center {
      overflow: hidden;
      width: 92%;
      padding: 10px 4%;
      border-bottom: 1px solid #ccc; }
      .content-ul .content-li .popular-li-center .img-logo {
        overflow: hidden;
        float: left;
        margin-right: 4%;
        width: 24px;
        height: 24px; }
        .content-ul .content-li .popular-li-center .img-logo img {
          width: 24px;
          height: 24px; }
      .content-ul .content-li .popular-li-center .img-num {
        overflow: hidden;
        float: left;
        margin-right: 4%;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%; }
        .content-ul .content-li .popular-li-center .img-num img {
          width: 24px;
          height: 24px; }
      .content-ul .content-li .popular-li-center p {
        font-size: 1.3rem;
        color: #999;
        width: 100%; }
        .content-ul .content-li .popular-li-center p span {
          color: #333;
          font-size: 1.5rem; }
        .content-ul .content-li .popular-li-center p i {
          color: #999;
          font-size: 1.3rem; }
          .content-ul .content-li .popular-li-center p i em {
            margin-right: 4%;
            color: #999;
            font-size: 1.3rem; }
      .content-ul .content-li .popular-li-center .popular-li-center-top {
        float: left;
        width: calc(96% - 24px); }

.null {
  display: none;
  width: 100%;
  position: absolute;
  top: 16%;
  left: 0; }
  .null p {
    margin: 0 auto;
    text-align: center;
    font-size: 6rem;
    color: #ccc; }
  .null p:last-of-type {
    font-size: 1.4rem; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 55px;
  background: #fff;
  box-shadow: 0px 0px 30px #ccc; }
  footer .footer-center {
    padding: 0 4%;
    width: 92%;
    background: #fff; }
    footer .footer-center .footer-part {
      float: left;
      overflow: hidden;
      width: calc(100% / 3);
      height: 100px; }
      footer .footer-center .footer-part a {
        color: #999; }
        footer .footer-center .footer-part a .footer-part-top {
          width: 100%;
          font-size: 2.4rem;
          line-height: 35px;
          text-align: center; }
        footer .footer-center .footer-part a p {
          text-align: center;
          font-size: 1.3rem; }
    footer .footer-center .footer-part:nth-child(3) a {
      color: #00aaee; }
      footer .footer-center .footer-part:nth-child(3) a .footer-part-top {
        font-size: 3rem; }
